<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName() + ', ' + book.getAuthor() + ', year of publication - ' + book.getYear()}">book</a>
    </div>

    <form th:action="@{/books/new}">
        <button type="submit">New book</button>
    </form>

    <span th:if="${page>1}">
        <form th:method="GET" th:action="@{/books}">
        <input type="hidden" th:name="books_per_page" th:value="3">
        <button type="submit" th:name="page" th:value=${page-1}>Previous page</button>
    </form>
    </span>

    <form th:action="@{/books}">
        <input type="hidden" th:name="books_per_page" th:value="3">
        <button type="submit" th:name="page" th:value=${page+1}>Next page</button>
    </form>

    <br/>

    <form th:action="@{/books}">
        <input type="hidden" th:name="books_per_page" th:value="3">
        <input type="hidden" th:name="page" th:value="${page}">
        <input type="hidden" th:name="sort_by_year" th:value="true">
        <button type="submit">Sort by year</button>
    </form>

    <form th:action="@{/books/search}">
        <button type="submit">Search page</button>
    </form>

</body>
</html>