<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:each="person : ${people}">
        <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName() + ', y.o - ' + person.getYearOfBirth()}">user</a>
    </div>

    <br/>

    <form th:method="GET" th:action="@{/people/new}">
        <button>Add person</button>
    </form>

    <form th:method="GET" th:action="@{/books}">
        <input type="hidden" th:name="books_per_page" th:value="3">
        <button type="submit" th:name="page" th:value="1">Move to books page</button>
    </form>

</body>
</html>